<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="MyApp" packages="">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
         <!--${sys:log.path} 使用-Dlog.path 配置日志路径-->
        <RollingFile name="RollingFile" fileName="${sys:log.path}/app.log"
                     filePattern="${sys:log.path}/$${date:yyyy-MM-dd}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %C %l [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 */1 * ?"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Root level="info">
            <AppenderRef ref="RollingFile"/>
            <!--<AppenderRef ref="Console"/>-->
        </Root>
    </Loggers>
</Configuration>
